.header{
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    color: white;
}

.header__search{
    display: flex;
    flex: 1;;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    padding: 4px;
    flex: 1;
}

.header__searchIcon{
    padding: 2.1px;
    height: 22px !important;
    background-color: #cd9842;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: white;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount{
    margin: 0 10px 0 3px;
}

.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}